.main{
    background-image: url("./img/nature.jpg");
    height: 100vh;
    background-repeat:no-repeat;
text-decoration-color: transparent;
    background-size: cover;
}
.label{
    text-align:center;
}
p{
    color:green;
    font-size: 20px;
}