.main{
    background-image: url("./img/nature.jpg");
    height: 100vh;
    background-repeat:no-repeat;
text-decoration-color: transparent;
    background-size: cover;
}
.label{
    text-align:center;
}
p{
    color:green;
    font-size: 20px;
}
h1{
    text-align:center;
}
#Gender:hover{
background-color: cornsilk;
}
#submit{
    width: 100px;
}
#submit:hover{
   background-color:purple;
}